Repository pakholeung37/loft-mix: changes, and which lint-staged commands are due for each by the changed paths.
All: lint --fix, prettier --write

chore: eslint & prettier
  .eslintrc
  .prettierrc.js
  package.json
  packages/main/src/App.tsx
  packages/main/src/index.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint --fix, prettier --write

chore: add tailwind
  package.json
  packages/main/index.html
  packages/main/postcss.config.js
  packages/main/src/App.module.css
  packages/main/src/App.tsx
  packages/main/src/assets/favicon.ico
  packages/main/src/index.css
  packages/main/src/index.tsx
  packages/main/src/logo.svg
  packages/main/tailwind.config.js
  packages/main/vite.config.js
  pnpm-lock.yaml
  postcss.config.js
  tailwind.config.js
Due: lint --fix, prettier --write

feat: add sth
  packages/main/src/App.tsx
  packages/main/src/components/Content/index.tsx
  packages/main/src/components/Header/index.tsx
  packages/main/src/index.css
  packages/main/tailwind.config.js
  packages/main/vite.config.js
  pnpm-lock.yaml
  tailwind.config.js
  vite.config.js
Due: lint --fix

feat: change to vanilla-extract
  package.json
  packages/main/package.json
  packages/main/src/App.tsx
  packages/main/src/app.css.ts
  packages/main/src/components/Header/header.css.ts
  packages/main/src/components/Header/index.tsx
  packages/main/src/theme.css.ts
  pnpm-lock.yaml
  vite.config.js
Due: lint --fix, prettier --write

feat: add more staff
  package.json
  packages/icons/build-icons.js
  packages/icons/package.json
  packages/main/package.json
  packages/main/src/App.tsx
  packages/main/src/app.css.ts
  packages/main/src/components/Avatar/avatar.css.ts
  packages/main/src/components/Avatar/index.tsx
  packages/main/src/components/Header/header.css.ts
  packages/main/src/components/Header/index.tsx
  packages/main/src/index.css
  packages/main/src/index.tsx
  packages/main/src/theme.css.ts
  packages/main/src/theme/colors.ts
  packages/main/src/theme/index.css.ts
  packages/main/src/theme/space.ts
  pnpm-lock.yaml
Due: lint --fix, prettier --write

feat: up
  package.json
  packages/main/package.json
  packages/main/scripts/purgecss.js
  packages/main/src/App.tsx
  packages/main/src/app.css.ts
  packages/main/src/components/Avatar/avatar.css.ts
  packages/main/src/components/Avatar/index.tsx
  packages/main/src/components/Header/Menu/index.tsx
  packages/main/src/components/Header/Menu/menu.css.ts
  packages/main/src/components/Header/header.css.ts
  packages/main/src/components/Header/index.tsx
  packages/main/src/utils.ts
  pnpm-lock.yaml
  postcss.config.js
Due: lint --fix, prettier --write

feat: finally work with storybook/vite
  package.json
  packages/main/.storybook/main.js
  packages/main/.storybook/package.json
  packages/main/.storybook/preview.jsx
  packages/main/package.json
  packages/main/src/App.tsx
  packages/main/src/components/Avatar/stories/avatar.stories.tsx
  packages/main/src/theme/index.css.ts
  pnpm-lock.yaml
Due: lint --fix, prettier --write

docs: add readme
  README.md
Due: prettier --write

feat: avatar component
  packages/main/package.json
  packages/main/src/components/Avatar/avatar.css.ts
  packages/main/src/components/Avatar/index.tsx
  packages/main/src/components/Avatar/stories/avatar.stories.tsx
  packages/main/src/theme/index.css.ts
  packages/main/src/utils.ts
Due: lint --fix, prettier --write

feat: add button
  packages/main/src/components/Avatar/avatar.css.ts
  packages/main/src/components/Avatar/index.tsx
  packages/main/src/components/Avatar/stories/avatar.stories.tsx
  packages/main/src/components/Button/button.css.ts
  packages/main/src/components/Button/index.tsx
  packages/main/src/components/Button/stories/button.stories.tsx
  packages/main/src/theme/index.css.ts
  packages/main/src/theme/space.ts
Due: lint --fix

fix: build
  packages/icons/package.json
  packages/main/src/components/Button/stories/button.stories.tsx
Due: lint --fix, prettier --write

feat: icon button
  packages/main/src/components/Button/button.css.ts
  packages/main/src/components/Button/index.tsx
  packages/main/src/components/Button/stories/button.stories.tsx
  packages/main/src/utils.ts
Due: lint --fix

fix: fix iconbutton props
  packages/main/src/components/Button/index.tsx
Due: lint --fix

feat: more button feature
  packages/main/src/components/Button/button.css.ts
  packages/main/src/components/Button/index.tsx
  packages/main/src/components/Button/stories/button.stories.tsx
  packages/main/src/style/utilities.css.ts
  packages/main/src/theme/index.css.ts
Due: lint --fix

fix: fix reactivity
  packages/main/src/components/Avatar/index.tsx
  packages/main/src/components/Button/button.css.ts
  packages/main/src/components/Button/index.tsx
  packages/main/src/components/Button/stories/button.stories.tsx
  packages/main/src/style/utilities.css.ts
  packages/main/src/theme/index.css.ts
Due: lint --fix

feat: add sidebar
  packages/main/.storybook/preview.jsx
  packages/main/src/App.tsx
  packages/main/src/app.css.ts
  packages/main/src/components/Avatar/avatar.css.ts
  packages/main/src/components/Avatar/index.tsx
  packages/main/src/components/Button/button.css.ts
  packages/main/src/components/Button/index.tsx
  packages/main/src/components/Content/content.css.ts
  packages/main/src/components/Content/index.tsx
  packages/main/src/components/Header/Menu/index.tsx
  packages/main/src/components/Header/Menu/menu.css.ts
  packages/main/src/components/Header/header.css.ts
  packages/main/src/components/Header/index.tsx
  packages/main/src/components/Sidebar/index.tsx
  packages/main/src/components/Sidebar/sidebar.css.ts
  packages/main/src/style/index.css.ts
  packages/main/src/style/theme/colors.ts
  packages/main/src/style/theme/index.css.ts
  packages/main/src/style/theme/space.ts
Due: lint --fix

feat: rename prop link to text
  packages/main/src/components/Button/button.css.ts
  packages/main/src/components/Button/index.tsx
  packages/main/src/components/Button/stories/button.stories.tsx
  packages/main/src/components/Header/index.tsx
  packages/main/src/components/Sidebar/index.tsx
Due: lint --fix

chore: setup husky
  .husky/commit-msg
  package.json
Due: prettier --write

feat: rename className to class
  packages/main/src/components/Button/index.tsx
  packages/main/src/components/Sidebar/index.tsx
Due: lint --fix

refactor: refactor avatar
  packages/main/src/components/Avatar/avatar.css.ts
  packages/main/src/components/Avatar/index.tsx
  packages/main/src/components/Sidebar/index.tsx
  packages/main/src/components/Sidebar/sidebar.css.ts
Due: lint --fix

feat: fix nav button style
  packages/main/src/App.tsx
  packages/main/src/components/Button/index.tsx
  packages/main/src/components/Content/index.tsx
  packages/main/src/components/Sidebar/Nav.tsx
  packages/main/src/components/Sidebar/NavButton.tsx
  packages/main/src/components/Sidebar/index.tsx
  packages/main/src/components/Sidebar/sidebar.css.ts
Due: lint --fix

feat: add router
  package.json
  packages/main/src/components/Content/index.tsx
  packages/main/src/components/Sidebar/Nav.tsx
  packages/main/src/components/Sidebar/NavButton.tsx
  packages/main/src/components/Sidebar/index.tsx
  packages/main/src/components/Sidebar/sidebar.css.ts
  packages/main/src/index.tsx
  packages/main/src/layout/CommonLayout.tsx
  packages/main/src/layout/common_layout.css.ts
  packages/main/src/view/App/index.tsx
  packages/main/src/view/Chat/index.tsx
  packages/main/src/view/Dashboard/index.tsx
  packages/main/src/view/NotFound/index.tsx
  packages/main/src/view/People/index.tsx
  packages/main/src/view/Todo/index.tsx
  pnpm-lock.yaml
Due: lint --fix, prettier --write

feat: add gird layout & echarts wrapper
  package.json
  packages/main/package.json
  packages/main/src/components/Button/button.css.ts
  packages/main/src/components/Content/content.css.ts
  packages/main/src/components/ECharts/index.tsx
  packages/main/src/components/ECharts/stories/echarts.stories.tsx
  packages/main/src/components/Heading/index.tsx
  packages/main/src/layout/CommonLayout.tsx
  packages/main/src/layout/common_layout.css.ts
  packages/main/src/style/theme/index.css.ts
  packages/main/src/types/index.ts
  packages/main/src/view/Dashboard/components/CardWrapper/card-wrapper.css.ts
  packages/main/src/view/Dashboard/components/CardWrapper/index.tsx
  packages/main/src/view/Dashboard/components/HelloCard/hello-card.css.ts
  packages/main/src/view/Dashboard/components/HelloCard/index.tsx
  packages/main/src/view/Dashboard/components/SimpleChartCard/index.tsx
  packages/main/src/view/Dashboard/components/SimpleChartCard/simpe-chart-card.css.ts
  packages/main/src/view/Dashboard/dashboard.css.ts
  packages/main/src/view/Dashboard/index.tsx
  pnpm-lock.yaml
Due: lint --fix, prettier --write

feat: add more cards
  packages/main/.storybook/preview.jsx
  packages/main/src/components/ECharts/index.tsx
  packages/main/src/components/ECharts/stories/echarts.stories.tsx
  packages/main/src/components/ECharts/theme/light.ts
  packages/main/src/components/Sidebar/NavButton.tsx
  packages/main/src/hooks/useResizeObserver.ts
  packages/main/src/style/utilities.css.ts
  packages/main/src/view/Dashboard/components/CardWrapper/card-wrapper.css.ts
  packages/main/src/view/Dashboard/components/CardWrapper/index.tsx
  packages/main/src/view/Dashboard/components/RatingCard/ListItem.tsx
  packages/main/src/view/Dashboard/components/RatingCard/index.tsx
  packages/main/src/view/Dashboard/components/RatingCard/rating-card.css.ts
  packages/main/src/view/Dashboard/components/SimpleChartCard/index.tsx
  packages/main/src/view/Dashboard/components/SimpleChartCard/simpe-chart-card.css.ts
  packages/main/src/view/Dashboard/components/SimpleGaugeChart.tsx
  packages/main/src/view/Dashboard/components/SimpleLineChart.tsx
  packages/main/src/view/Dashboard/index.tsx
Due: lint --fix

feat: add table card
  packages/main/.storybook/preview.jsx
  packages/main/package.json
  packages/main/src/components/Avatar/index.tsx
  packages/main/src/components/Button/index.tsx
  packages/main/src/components/Button/stories/button.stories.tsx
  packages/main/src/components/ECharts/theme/light.ts
  packages/main/src/components/Sidebar/Nav.tsx
  packages/main/src/components/Sidebar/index.tsx
  packages/main/src/components/Table/index.tsx
  packages/main/src/components/Table/table.css.ts
  packages/main/src/view/Dashboard/components/LineChartCard/index.tsx
  packages/main/src/view/Dashboard/components/TableCard/index.tsx
  packages/main/src/view/Dashboard/index.tsx
  pnpm-lock.yaml
Due: lint --fix, prettier --write

feat: lazy route
  README.md
  package.json
  packages/docs/README.zh_CN.md
  packages/main/src/components/ECharts/index.tsx
  packages/main/src/index.tsx
  packages/main/src/layout/CommonLayout.tsx
  packages/main/src/view/App/index.tsx
  packages/main/src/view/Chat/index.tsx
  packages/main/src/view/Dashboard/index.tsx
  packages/main/src/view/NotFound/index.tsx
  packages/main/src/view/People/index.tsx
  packages/main/src/view/Todo/index.tsx
  packages/main/stats.html
  pnpm-lock.yaml
  vite.config.js
Due: lint --fix, prettier --write

feat: add task card
  packages/main/package.json
  packages/main/src/components/Button/stories/button.stories.tsx
  packages/main/src/components/ECharts/index.tsx
  packages/main/src/components/Table/index.tsx
  packages/main/src/components/Table/stories/table.stories.tsx
  packages/main/src/components/Table/table.css.ts
  packages/main/src/index.tsx
  packages/main/src/style/utilities.css.ts
  packages/main/src/view/Dashboard/components/LineChartCard/index.tsx
  packages/main/src/view/Dashboard/components/SimpleGaugeChart.tsx
  packages/main/src/view/Dashboard/components/SimpleLineChart.tsx
  packages/main/src/view/Dashboard/components/TableCard/index.tsx
  packages/main/src/view/Dashboard/components/TaskCard/Task.tsx
  packages/main/src/view/Dashboard/components/TaskCard/index.tsx
  packages/main/src/view/Dashboard/components/TaskCard/task-card.css.ts
  packages/main/src/view/Dashboard/index.tsx
  packages/main/stats.html
  pnpm-lock.yaml
Due: lint --fix, prettier --write

fix: fix vercel router
  vercel.json
Due: prettier --write

fix: fix vercel config
  vercel.json
Due: prettier --write

fix: fix echarts height collapse when init
  packages/main/src/components/ECharts/index.tsx
  packages/main/src/components/ECharts/stories/echarts.stories.tsx
Due: lint --fix

feat: useHotkeys
  packages/main/src/components/ECharts/stories/echarts.stories.tsx
  packages/main/src/components/Sidebar/sidebar.css.ts
  packages/main/src/hooks/useHotkeys/helpers/arraysAreEqual.ts
  packages/main/src/hooks/useHotkeys/helpers/getActiveModifierKeys.ts
  packages/main/src/hooks/useHotkeys/helpers/getHotkeysArray.ts
  packages/main/src/hooks/useHotkeys/helpers/isSameSet.ts
  packages/main/src/hooks/useHotkeys/helpers/mapModifierKeys.ts
  packages/main/src/hooks/useHotkeys/helpers/modifierKeyPressed.ts
  packages/main/src/hooks/useHotkeys/helpers/tail.ts
  packages/main/src/hooks/useHotkeys/helpers/takeUntilLast.ts
  packages/main/src/hooks/useHotkeys/index.ts
  packages/main/src/hooks/useHotkeys/stories/use-hotkeys.stories.tsx
  packages/main/src/types/index.ts
  packages/main/src/util.ts/index.ts
Due: lint --fix

feat: storybook setup settled
  package.json
  packages/main/.storybook/main.js
  packages/main/.storybook/preview.jsx
  packages/main/src/components/Avatar/stories/avatar.stories.tsx
  packages/main/src/components/Button/stories/button.stories.tsx
  packages/main/src/components/ECharts/stories/echarts.stories.tsx
  packages/main/src/components/Table/stories/table.stories.tsx
  packages/main/src/hooks/useHotkeys/index.ts
  packages/main/src/hooks/useHotkeys/stories/use-hotkeys.stories.tsx
  packages/main/src/index.tsx
  packages/main/src/util/index.ts
  packages/main/src/util/storybook.ts
  pnpm-lock.yaml
Due: lint --fix, prettier --write

feat: expose bundle stat via /stat
  vercel.json
  vite.config.js
Due: lint --fix, prettier --write

feat: command palette prototype
  packages/main/.storybook/preview.jsx
  packages/main/src/components/CommandPalette/command-palette.css.ts
  packages/main/src/components/CommandPalette/index.tsx
  packages/main/src/components/CommandPalette/stories/command-palette.stories.tsx
  packages/main/src/hooks/useHotkeys/stories/use-hotkeys.stories.tsx
  packages/main/src/layout/CommandPaletteContainer.tsx
  packages/main/src/layout/CommonLayout.tsx
  packages/main/src/layout/common_layout.css.ts
  packages/main/src/style/theme/index.css.ts
Due: lint --fix

feat: command palette can now jump to path
  packages/main/src/components/CommandPalette/index.tsx
  packages/main/src/components/Sidebar/index.tsx
  packages/main/src/index.tsx
  packages/main/src/layout/CommonLayout.tsx
  packages/main/src/layout/common_layout.css.ts
  packages/main/src/style/theme/colors.ts
  packages/main/src/style/theme/index.css.ts
Due: lint --fix

feat: dark theme prototype
  packages/main/src/components/Avatar/avatar.css.ts
  packages/main/src/components/CommandPalette/command-palette.css.ts
  packages/main/src/components/ECharts/index.tsx
  packages/main/src/components/ECharts/theme/dark.ts
  packages/main/src/components/Sidebar/Nav.tsx
  packages/main/src/components/Sidebar/index.tsx
  packages/main/src/hooks/useTheme.ts
  packages/main/src/layout/CommonLayout.tsx
  packages/main/src/layout/common_layout.css.ts
  packages/main/src/style/index.css.ts
  packages/main/src/style/theme/base-theme.ts
  packages/main/src/style/theme/dark-theme.css.ts
  packages/main/src/style/theme/index.css.ts
  packages/main/src/style/theme/index.ts
  packages/main/src/style/theme/light-theme.css.ts
  packages/main/src/style/theme/theme-contract.css.ts
  packages/main/src/types/index.ts
  packages/main/src/view/Dashboard/components/LineChartCard/index.tsx
  packages/main/src/view/Dashboard/components/SimpleGaugeChart.tsx
  packages/main/src/view/Dashboard/components/SimpleLineChart.tsx
Due: lint --fix

fix: fix nav link active
  packages/main/src/components/Sidebar/Nav.tsx
Due: lint --fix

fix: fix command palette
  packages/main/src/components/CommandPalette/command-palette.css.ts
  packages/main/src/components/CommandPalette/index.tsx
  packages/main/src/style/theme/dark-theme.css.ts
Due: lint --fix

perf: opt echarts comp
  packages/main/src/components/ECharts/index.tsx
Due: lint --fix

fix: fix echarts not setOptions when update
  packages/main/src/components/ECharts/index.tsx
  packages/main/src/services/commands/CommandService.ts
  packages/main/src/types/index.ts
Due: lint --fix

Path conditions:
  lint --fix: any of: **/*.{ts,tsx,js,jsx}
  prettier --write: any of: **/*.{md,yml,json,babelrc,eslintrc,prettierrc}
